/* simulated background TODO:delete in final form */
html {background-color:black;}
/* just to be sure these are full screen*/
html, body { width:100%; height:100%; margin:0; }

/* display block removes scrollbars */
canvas { display:block;}

.rscImg {display:none;}

audio {position:absolute;
        z-index:1;}
